<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>New Job </h2>
    <p>
      Request ID: #<%= @job.id %>.<br>
    </p>
    <p>
      Customer: <%= @customer.first_name %> <%= @customer.last_name %><br>
    </p>
    <p>
      Moving Date: <%= Date.parse(@job.pick_up_date).strftime("%B %e, %Y") %>, <%= Date.parse(@job.pick_up_date).strftime("at %I:%M%p")  %>.<br>
    </p>
    <p>
      Service: <%= @job.job_type %>.<br>
    </p>
    <p>
      Job Size: <%= @job.job_size %>.<br>
    </p>
    <p>
      Crew Size: <%= @job.crew_size %>.<br>
    </p>
    <p>
      Rate: <%= @job.job_rate %>.<br>
    </p>
    <p>
      Estimated Job Time: <%= @job.estimated_time[0] %> - <%= @job.estimated_time[1] %> hours.<br>
    </p>
    <p>
      Estimated Quote: $<%= @job.estimated_quote[0] %> - $<%= @job.estimated_quote[1] %>.<br>
    </p>
  </body>
</html>
