<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= link_to "InsightMoving", @url %>, <%= @customer.first_name %></h1>
    <p>
      Job Size: <%= @job.job_size %>.<br>
    </p>
    <p>
      Moving Date: <%= @job.pick_up_date %>.<br>
    </p>
    <p>
      To view your moving details, just follow this link: <%= link_to "View My Moving Details", @login_url %>.
    </p>
    <p>Thanks for choosing InsightMoving and have a great day!</p>
  </body>
</html>
